@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); /* Cinzel font */



.ourShop_main_container {
  height: 80vh;
  width: 100%;
  background-image: url("https://i.postimg.cc/Ls6SBptV/banner2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ourShop_inner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.ourShop_text_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 80%;
  font-family: "Cinzel", serif;  
  text-align: center;
  background-color: #15151578;
}

.ourShop_text_container h2 {
  font-size: 5rem;
  font-weight: 700;
}

.ourShop_text_container p {
  font-size: 1.2rem;
  font-weight: 500;
}