@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); /* Cinzel Font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&display=swap'); /* Inter Font */



.web_name {
  cursor: pointer;
  color: #ffffff;
}

.web_name h2 {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Cinzel", serif;
}

.web_name h3 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Cinzel", serif;
  letter-spacing: 6px;
}