.menu_catd_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu_catd_button button {
  color: #BB8506;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  border-bottom: 2px solid #BB8506;
}

.menu_catd_button button:hover {
  background-color: #E8E8E8;
  transition: 0.4s;
}
.menu_catd_button button:active {
  background-color: #bbbbbb;
}

.card_price_container {
  color: #ffffff;
  background-color: #111827;
  position: absolute;
  left: 300px;
  top: 10px;
}

.card_price_container h2 {
  font-weight: 600;
  padding: 5px 15px;
}